
.body {
    font-family: monospace;
    background-color: black;
}

.icon {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 1000px;
    height: auto;
}
.header {
    color: #957154;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

